.tablepad{
    padding: 70px;
}


.container {
    padding: 30px;
    h1 {
        text-align: center;
        margin: 30px;
    }
    
    textarea {
        width: 100%;
        white-space: pre-wrap;
    }
    .save{
        background: #4CAF50;
        border: none;
        padding: 10px;
        border-radius: 12px;
        cursor: pointer;
    }
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: #7fad39;
	border: none;
}

.contact-form {
    padding-top: 80px;
    padding-bottom: 80px;
  
    form {
  
      input {
        width: 100%;
        height: 50px;
        font-size: 16px;
        color: #6f6f6f;
        padding-left: 20px;
        margin-bottom: 30px;
        border: 1px solid;
        border-radius: 4px;
  
        &::placeholder {
          color: #6f6f6f;
        }
      }
  
      textarea {
        width: 100%;
        height: 150px;
        font-size: 16px;
        color: #6f6f6f;
        padding-left: 20px;
        margin-bottom: 24px;
        border: 1px solid;
        border-radius: 4px;
        padding-top: 12px;
        resize: none;
  
        &::placeholder {
          color: #6f6f6f;
        }
      }
  
      button {
        font-size: 18px;
        letter-spacing: 2px;
      }
    }
  }
