.tablepad{
    padding: 70px;
}


.container {
    padding: 30px;
    h1 {
        text-align: center;
        margin: 30px;
    }
    
    textarea {
        width: 100%;
        white-space: pre-wrap;
    }
    .save{
        background: #4CAF50;
        border: none;
        padding: 10px;
        border-radius: 12px;
        cursor: pointer;
    }
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: #7fad39;
	border: none;
}

