* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  .form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  .form.example button {
    float: left;
    width: 20%;
    height: 47px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  .form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  .form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
      padding: 30px;
  }
  .new {
      width: 50px;
  }
  p {
    margin-top: 10px;
  }

.card{
    padding: 15px;
    margin: 15px;
}
.row{
    padding: 15px;
}
button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.message  {
  color: red;
  font-family: courier;
  font-size: 160%;
}