<app-header></app-header>
<div class="container">
  <div class="example">
    <input class="old" type="text" placeholder="Search..">
    <button class="button" type="submit" (click)="search()">Enter</button>
  </div>
  <p class="message">Only within &nbsp;<input type="text" class="new" placeholder="10">&nbsp; miles</p>
  <p class="message">Book number: &nbsp;<input type="text" class="old" placeholder="9781785031137">&nbsp; (ISBN 10)</p>
</div>
<div class="container">
  <div class="row" id="bookSearch">
  </div>
</div>
<app-footer></app-footer>