<app-header></app-header>
<div class="container">
  <div class="example">
    <input type="text" placeholder="Search..">
    <button class="button" type="submit" (click)="search()">Enter</button>
  </div>
  <p class="message">Only within &nbsp;<input type="text" class="new" placeholder="10" id="distance">&nbsp; miles</p>
  <p class="message">Replace with book number: &nbsp;<input type="text" class="new" id="newisbn" placeholder="9781785031137">&nbsp; (ISBN 10)</p>
</div>
<div class="container">
  <div class="row" id="bookSearch">
    <ng-template appCard></ng-template>
  </div>
</div>
<app-footer></app-footer>