<app-header></app-header>
<div class="bd">
    <div class="center">
        <h1>Signup</h1>
        <h2>{{signupError}}</h2>
        <div class="form">
            <div class="txt_field">
                <input id="firstname" type="text" required>
                <span></span>
                <label>Enter First Name</label>
            </div>
            <div class="txt_field">
                <input id="lastname" type="text" required>
                <span></span>
                <label>Enter Last Name</label>
            </div>
            <div class="txt_field">
                <input id="email" type="text" required>
                <span></span>
                <label>Enter Email</label>
            </div>
            <div class="txt_field">
                <input id="username" type="text" required>
                <span></span>
                <label>Enter Username</label>
            </div>
            <div class="txt_field">
                <input id="password" type="password" required>
                <span></span>
                <label>Enter Password</label>
            </div>
            <div class="txt_field">
                <input id="zipcode" type="text" required>
                <span></span>
                <label>Enter Zipcode</label>
            </div>
            <button type="submit" id="submit" (click)="addToDB()">Sign Up</button>
        </div>
    </div>
</div>
<app-footer></app-footer>