<app-header></app-header>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <h3 class="margin">Who Are We?</h3>
    <img src="https://cdn.pixabay.com/photo/2020/03/13/12/46/books-4927853_960_720.png" class="img-responsive img-circle margin" style="display:inline" alt="Book Image" width="350" height="350">
    <h3>We are four students who want to help the world read</h3>
  </div>
  
  <!-- Second Container -->
  <div class="container-fluid bg-2 text-center">
    <h3 class="margin">What Do We Do?</h3>
    <p>We are submitting the Book Barter site as part of the Atlas Hackathon. We want a way for people to connect to other people so that people can easily trade for books that they wish to read. </p>
  </div>
  
  <!-- Third Container (Grid) -->
  <div class="container-fluid bg-3 text-center">    
    <h3 class="margin">How Does It Work?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>You add books up for trade to a collection with an ISBN number, the title, and author.</p>
        <img src="https://storage.needpix.com/rsynced_images/book-297319_1280.png" class="img-responsive margin" style="width:100%" alt="Book Information Image">
      </div>
      <div class="col-sm-4"> 
        <p>You search for books you want (near you) and join trade queues on other people's books.</p>
        <img src="https://storage.needpix.com/rsynced_images/searching-2339723_1280.png" class="img-responsive margin" style="width:100%" alt="Searching Image">
      </div>
      <div class="col-sm-4"> 
        <p>People can also see your books and ask you to trade for them with their own books.</p>
        <img src="https://cdn.pixabay.com/photo/2012/04/02/17/32/network-24993_960_720.png" class="img-responsive margin" style="width:100%" alt="Trading Image">
      </div>

      




    </div>
  </div>
<app-footer></app-footer>